# Xcode User Settings
xcuserdata/

# Build Artifacts
build/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.grepai/
